/* Background */
body {
    background-color: #F1F1F1;;
    margin: 0;
    padding: 0;
}

/* Main with margins*/
.main {
    margin: 20px 20px;
}

/* Image icon dimensions 40px and center */
.icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

/* Card dimensions 120px and center*/
.card {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    background-color: #CDCDCD;
}

/* Line with color #B8B8B8 */
.line {
    border-bottom: 2px solid #B8B8B8;
    margin: 20px 0;
}